*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,213,255,1);
    font-family: 'poppins';
    position: relative;
}
.loader-container {
    height: 200px;
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.loader {
    width: 200px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
  
.bar {
    height: 100%;
    background-color: #fd1afd;
    width: 0;
    animation: fillBar 2s infinite ease-in-out;
}
  
@keyframes fillBar {
    0% {
      width: 0;
      border-radius: 15px;
    }
    50% {
      width: 60%;
      border-radius: 10px;
    }
    100% {
      width: 100%;
    }
}
  

.attribute{
    position: absolute;
    bottom: 10px;
}