*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,213,255,1);
    font-family: 'poppins';
}
.search-box {
    display: flex;
    align-items: center;
    width: 75px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    transition: width .75s ease;
}
.search-box:hover{
    width: 400px;
}
@media (max-width:768px) {
    .search-box:hover{
        width: 320px;
    }
}

.search-box input[type="text"] {
    flex-grow: 2;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 0;
    overflow: hidden;
    transition: all .75s ease ;
}
.search-box:hover input[type="text"]{
    width: 400px;
    padding-inline: 1.5rem;
}
  
.search-box button[type="submit"] {
    width: 75px;
    height: 100%;
    background-color: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.search-box button[type="submit"]:hover {
    background-color: #aaa;
}
  
.search-box i {
    color: #fff;
    font-size: 1.5rem;
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}